*{
    padding: 0;
    margin: 0;
}



#logo{
    height:50px;
    width:50px;
    border-radius: 50%;
    padding-left: 0px;
}
h1{
   
    
    font-size: 40px;
    margin-top: 10px;
    color: white;
    
   
}
#f{
    color: rgb(246, 59, 59);
}
header{
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: #06389d;
  
}
#h{
    margin-right: 0px;
}
#j{
margin-left: 0px;
font-size: 30px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    color: white;
}



#sign{
    text-align: center;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box
{
    height: 350px;
    border:2px solid rgb(0, 0, 0);
    width:300px;
    border-radius: 30px;
    margin-top: 10px;
   font-weight: boldd;
}
#new{
    margin-top: 10px;
}
#text{
    margin-top: 20px;
}
#pass{
    margin-top: 20px;
}
form{
    margin-left: 25px;

}

.head{
    display: flex;
    height:450px ;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
 
}

.input{
    height: 35px;
    width: 230px;
    border: 2px solid rgb(0, 0, 0);
    padding-left: 10px;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    
}
.rem{
    margin-top: 15px;

}
#link{
    margin-left: 12px;
    
   
}

#btn{
    border:2px solid rgb(0, 0, 0);
    color :white;
    font-size: 20px;
    
    
    background-color: rgb(0, 8, 223);
    height:50px ;
    width: 270px;
    text-align: center;
    margin-top: 15px;
    
    border-radius: 30px;
    transition:all 2s ease-in 0.25;

}
#log{
    color: white;
}

.reg{
    margin-top: 15px;
    font-weight: bold;
   
}
a{
    text-decoration: none;
    font-weight: bold;
}
#bca{
    text-align: center;
    font-size: 40px;
    margin-top: 45px;
    
}
.footer{
  text-align: center;
    margin-top: 50px;
}

@media (max-width:900px)
{
   
    header{
    width: 100vw;
       font-size: 10px;
       height: 40px;
       display: flex;
       flex-direction: row;
      

    }
    
#logo{
    height:40px;
    width:40px;
    border-radius: 50%;
    padding-left: 0px;
}
h1{
   
    
    font-size: 17px;
   
    color: white;
    
   
}
.head{
    justify-content: center;
    margin-top: 0px;
  
 
}
.box{

margin-top:0px;
margin-left: 0px;


}
}